{"localUpdateTime":1549004646054,"localVersion":"1.2.3","isUpdateAvailable":false,"name":"Sketch Cloud Library","gdp":{"libraries":[{"displayName":"Cursor","fileName":"cursor","url":"https://sketch.cloud/s/yddKE","enabled":true,"lastModifiedAt":"undefined"},{"displayName":"GDP Common Library","fileName":"wm-gdp-common-library","url":"https://sketch.cloud/s/YJPQZ","enabled":true,"lastModifiedAt":"undefined"}],"colors":"https://raw.githubusercontent.com/pratikjshah/sketch-cloud-library/master/gdp-rss/wm-gdp-colors.sketchpalette","templates":[{"displayName":"GDP Template","fileName":"wm-gdp-template.sketch","enabled":false,"lastModifiedAt":"undefined"}]}}