{
    gdp =     {
        colors = "https://raw.githubusercontent.com/pratikjshah/sketch-cloud-library/master/gdp-rss/wm-gdp-colors.sketchpalette";
        libraries =         (
                        {
                displayName = "GDP Common Library";
                enabled = 1;
                fileName = "wm-gdp-common-library";
                lastModifiedAt = undefined;
                url = "https://sketch.cloud/s/YJPQZ";
            }
        );
        templates =         (
                        {
                displayName = "GDP Template";
                enabled = 0;
                fileName = "wm-gdp-template.sketch";
                lastModifiedAt = undefined;
            }
        );
    };
    isUpdateAvailable = 0;
    localUpdateTime = 1550046204613;
    localVersion = "1.2.1";
    name = "Sketch Cloud Library";
}